aiohttp
astunparse
async-timeout
attrs
beautifulsoup4
braceexpand
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
Cogs
colorama
DateTime
discord
discord-ext-alternatives
discord.py
DiscordUtils
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
httplib2
idna
import-expression
iso8601
jishaku
lxml
msgpack
multidict
NHentai-API
objbrowser
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
python-dotenv
pytz
PyYAML
pyzmq
QtPy
requests
rsa
simplejson
six
soupsieve
typing-extensions
tzlocal
uritemplate
urllib3
yarl
zmq
zope.interface